{% extends "unmismatch3d/layout.html" %}

{% block body %}
<h1>

    <script>
      alert("Hello Hobbyist!");
    
    </script></h1>
<div class= "box-form" style="margin-top:170px;">
    <div class="left">
		<div class="overlay">
        <p>Are you looking for like-minded people who share your passion for a particular hobby? Look no further than our hobby matcher website! Our platform helps you connect with people who have similar interests and hobbies as you, no matter where you are in the world.

        Simply select the hobby that you enjoy from our list of options, and our website will match you with other users who share your interest. You can then send messages and chat with your matches to get to know them better, discuss your hobby, and even arrange to meet up in person.
        
        Our hobby matcher website is the perfect place to find new friends, expand your social circle, and discover new hobbies and interests. So why wait? Sign up today and start connecting with like-minded hobbyists!</p>


        </p>
    </div>
</div>
{% endblock %}